@import "./scss/partials/variables";
@import "./scss/partials/main-header";
@import "./scss/partials/content-area";
@import "./scss/partials/dashboard";
@import "./scss/partials/forms";
@import "./scss/partials/enquiry-table";
@import "./scss/partials/footer";

body {
  background: $body-bg;
  overflow-x: hidden;
  color: #fff;
  font: {
    size: 0.875rem;
    family: $body-font;
  }
}

img {
  max-width: 100%;
  display: block;
}

.resizer {
  max-width: 1000px;
  margin: 0 25px;
}
