@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
.main-header .left-header {
  background: #192354;
  padding: 1rem 0.625rem;
  color: #fff;
  height: 100px;
}
.main-header .left-header .letter {
  background: #1e2b6f;
  padding: 5px;
  width: 30px;
  text-align: center;
}
.main-header .right-header {
  background: #1e2b6f;
  height: 100px;
}
.main-header .right-header .user-tasks {
  background: #455eee;
  margin-left: -11px;
  margin-right: -10px;
  height: 50px;
}

.logout {
  display: flex;
}

.menu {
  display: flex;
}

.main-menu {
  margin-left: 0.625rem;
}

.log {
  color: #455eee;
}
.log a {
  color: #fff;
  opacity: 0.8;
}
.log a:hover {
  color: gold;
  opacity: 1;
  transition: 400ms ease-in-out;
}

.dashboard {
  color: #455eee;
}

.profile-header {
  display: flex;
  justify-content: space-between;
}
.profile-header .profile {
  width: 50px;
  padding: 5px;
}
.profile-header .profile .profile-img {
  border-radius: 5px 10px;
}

.navlinks {
  padding: 1rem 0.625rem;
}

.manager {
  display: flex;
  justify-content: space-around;
  max-width: 25rem;
  height: 45px;
}
.manager a {
  color: #fff;
  opacity: 0.8;
}
.manager a:hover {
  color: gold;
  opacity: 1;
  transition: 400ms ease-in-out;
}

.nav-item a {
  color: #fff;
  opacity: 0.8;
}
.nav-item a:hover {
  color: gold;
  opacity: 1;
  transition: 400ms ease-in-out;
}

@media screen and (min-width: 1600px) {
  .content-area {
    max-width: 1400px;
    padding: 3rem;
    margin: 0 auto;
  }
}
.dashboard-content {
  background: #fff;
  border-radius: 10px;
  padding-top: 10px;
  color: #000;
}
.dashboard-content h6 {
  font-size: 0.875rem;
}
.dashboard-content .items-dash {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 10px;
}
.dashboard-content .item {
  padding: 10px;
  border-radius: 10px;
}
.dashboard-content .item .footer {
  display: flex;
  justify-content: space-between;
}

.received {
  background: #eeeaff;
  color: #2c0bb7;
  border-bottom: 3px solid #2c0bb7;
  font-weight: bolder;
}

.enquiries {
  background: #e2f5ff;
  color: #3591b4;
  border-bottom: 3px solid #3591b4;
  font-weight: bolder;
}

.employees {
  background: #e0f3e7;
  color: #7bb0ba;
  border-bottom: 3px solid #7bb0ba;
  font-weight: bolder;
}

.mgt-enquiry h6 {
  margin-left: 30px;
}

.dash-area {
  max-width: 960px;
}

.form-section {
  background: #fff;
  border-radius: 10px;
  padding: 1.5rem 1.5rem;
  color: #000;
}
.form-section .form {
  display: flex;
  justify-content: space-evenly;
  color: #000;
}
.form-section .form .text-field {
  background: #f1f5ff;
  color: #9c9c9c;
  border: 1px solid #f1f5ff;
  border-radius: 5px;
  max-width: 100%;
}

.label p {
  text-align: center;
  max-width: 100px;
  margin-right: 0.625rem;
}

.enquiry-btn {
  text-align: right;
}
.enquiry-btn a {
  text-transform: capitalize;
  background: #455eee;
  border-radius: 8px;
}

.enquiry-table {
  padding: 1.5rem 1.5rem;
  background: #fff;
  border-radius: 10px;
  color: #000;
}
.enquiry-table th {
  font-weight: normal;
}
.enquiry-table .header-btns {
  display: flex;
  justify-content: flex-end;
}
.enquiry-table .header-btns a {
  text-transform: capitalize;
  border-radius: 8px;
}

.pager {
  display: flex;
  justify-content: flex-end;
}
.pager ul li > a {
  font-size: 10px;
}
.pager .pg-icon {
  font-size: 10px;
}
.pager ul li.active {
  background-color: #333;
  border-radius: 100%;
}

.notifications {
  display: flex;
  justify-content: flex-end;
}
.notifications a {
  margin-right: 1rem;
  color: #444;
  font-size: 1.25rem;
}

.calender {
  background: #fff;
  color: #000;
  padding: 0.625rem 0.625rem;
  border-radius: 0.625rem;
}
.calender h6 {
  font-size: 0.875rem;
  margin-bottom: 5px;
}
.calender .calender-view {
  border: none;
}

.task h6 {
  color: #555;
  font-size: 14px;
  padding: 0.625rem;
  font-weight: 900;
}
.task .content {
  background: #fff;
  border-radius: 10px;
  color: #000;
  padding: 0.625rem;
  border-left: 10px solid red;
}
.task .content .duty {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task .content .duty > p {
  font-weight: 600;
}
.task .timeline p {
  color: #555;
  opacity: 0.8;
}
.task .clock {
  font-size: 10px;
}

.performance h6 {
  color: #555;
  font-size: 14px;
  padding: 0.625rem;
  font-weight: 900;
}
.performance .metrics {
  display: flex;
  justify-content: flex-end;
  background: #fff;
  border-radius: 2px;
  color: #000;
  padding: 0.625rem;
}
.performance .metrics .year-metrics {
  background: red;
}

.graph {
  background: #fff;
}

#footer {
  background: #ededed;
  color: #000;
  text-transform: uppercase;
  height: 50px;
  margin-top: -0.625rem;
}

body {
  background: #f0f5fb;
  overflow-x: hidden;
  color: #fff;
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.resizer {
  max-width: 1000px;
  margin: 0 25px;
}

.sidebar-resizer {
  max-width: 400px;
  margin: 0 auto;
}

/*# sourceMappingURL=App.css.map */
