.dashboard-content {
  background: #fff;
  border-radius: 10px;
  // padding: 10px;
  color: #000;

  h6 {
    font: {
      size: 0.875rem;
    }
  }

  .items-dash {
    padding: 0.625rem;
  }

  .dash-spacer {
    padding: 0.625rem 0.625rem;
  }

  .item {
    padding: 10px;
    border-radius: 10px;

    .footer {
      display: flex;
      justify-content: space-between;
    }
  }
}

.received {
  background: #eeeaff;
  color: #2c0bb7;
  border-bottom: 3px solid #2c0bb7;
  font-weight: bolder;
}

.enquiries {
  background: #e2f5ff;
  color: #3591b4;
  border-bottom: 3px solid #3591b4;
  font-weight: bolder;
}
.employees {
  background: #e0f3e7;
  color: #7bb0ba;
  border-bottom: 3px solid #7bb0ba;
  font-weight: bolder;
}

.mgt-enquiry {
  h6 {
    margin-left: 30px;
  }
}

// .dash-area {
//   max-width: 960px;
// }
