@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

$darker-blue: #192354;
$dark-blue: #1e2b6f;
$light-blue: #455eee;
$body-bg: #f0f5fb;
$body-font: 10px;
$body-font: "Montserrat", sans-serif;
$footer-color: #ededed;
$heading-color: #4b5269;
$heading-size: 14px;
$table-bg: #646464;
$form-bg: #f1f5ff;
$form-color: #9c9c9c;
